textarea {
    resize: none; /* Disable user-resizing */
    height: 2em; /* Set a minimum height */
}
textarea:active,
textarea:focus {
    height: auto; /* Allow the field to expand as the user types */
}

main {
    inline-size: 350px;
    overflow-wrap: break-word;
}
