textarea {
    resize: none; /* Disable user-resizing */
    height: 5em; /* Set a minimum height */
    text-overflow: break-word;
}

textarea:active,
textarea:focus{
    height: auto;
}



#log-details p {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    inline-size: 350px;
    overflow-wrap: break-word;
}
