textarea {
    resize: none; /* Disable user-resizing */
    height: 3em; /* Set a minimum height */
}

textarea:active,
textarea:focus{
    height: auto;
}



/* #logList {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    inline-size: 350px;
    overflow-wrap: break-word;
} */

body {
    background-color: #33475b;
}

header{
    display: flex;
    justify-content: center;
}
